---
import Main from '~/layouts/Main.astro'
---
<Main
	title="Evandro Ribeiro"
	description="Sou programador front-end e gosto de criar projetos incríveis. Estou sempre procurando expandir meus conhecimentos e adquirir novas habilidades para tornar meu trabalho mais eficiente.">
	<section class="space-y-3">
			<h1 class="text-5xl font-bold">Evandro Ribeiro</h1>
      <h2 class="text-base font-medium italic">Software Engineer | Frontend Developer (ReactJS, React Native, TypeScript, NextJS, VueJS, Laravel, Livewire, AlpineJS | TDD)</h2>
		</section>
</Main>
