---
import Main from '~/layouts/Main.astro'
---
<Main 
	title="Evandro Ribeiro" 
	description="Sou programador front-end e gosto de criar projetos incríveis. Estou sempre procurando expandir meus conhecimentos e adquirir novas habilidades para tornar meu trabalho mais eficiente.">
	<section>
			<h1 class="text-5xl font-bold">Evandro Ribeiro</h1>
      <h2 class="text-base font-medium italic">JavaScript Developer (React Native | ReactJS | NodeJS)</h2>
		</section>
</Main>
