---
import Main from '~/layouts/Main.astro'
---
<Main title="Evandro Ribeiro">
	<section>
			<h1 class="text-5xl font-bold">Evandro Ribeiro</h1>
      <h2 class="text-base font-medium italic">JavaScript Developer (React Native | ReactJS | NodeJS)</h2>
		</section>
</Main>
