@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:600|Roboto:500,700");
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.name {
  font-size: 50px;
  font-weight: 700;
}
.description {
  font-size: 16px;
  font-weight: 500;
}
