---
import { SEO } from "astro-seo";
const { title, description } = Astro.props
const url = `https://ribeiroevandro.com.br${Astro.url.pathname}`
---

<html lang="pt-BR">
  <head>
    <SEO
      title={title}
      canonical={url}
      description={description}
      openGraph={{
        basic: {
          title: "ribeiroevandro.com.br",
          type: "website",
          image: "https://github.com/ribeiroevandro.png",
        }
      }}
      twitter={{
        creator: "@ribeiroevandro"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://github.com/ribeiroevandro.png",
          },
          { name: "twitter:title", content: "Evandro Ribeiro" },
          { name: "twitter:description", content: "Sou programador front-end e gosto de criar projetos incríveis. Estou sempre procurando expandir meus conhecimentos e adquirir novas habilidades para tornar meu trabalho mais eficiente." },
        ],
      }}
    />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flex items-center justify-center h-screen text-center">
      <slot /> <!-- seu conteúdo é injetado aqui -->
  </body>
</html>
