---
const { title } = Astro.props
---

<html lang="pt-BR">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flex items-center justify-center h-screen text-center">
      <slot /> <!-- seu conteúdo é injetado aqui -->
  </body>
</html>
